@import '../variables/index';

@import '../mixins/index';

.pdf-modal {
	.media-modal-content {
		.media-frame-title,
		.media-frame-toolbar {
			left:0;
		}
		.media-frame-content {
			top:50px;
			border-bottom:1px solid $wp-gray-dark2;
		}
		// .media-frame-toolbar {
		// 	bottom:0;
		// 	height:60px;
		// }
	}

	.media-frame-toolbar {
		left:0;
		bottom:0;
		.instructions {
			margin:18px;
			font-style:italic;
			font-size:18px;
			float:left;
		}
		.select-tools {
			width:184px;
		}
		.tools {
			display:inline-block;
			vertical-align: middle;
		}
		[data-action] {
			display:block;
		}
	}
	.media-frame-toolbar {

	}
	.media-frame-options {
		margin:15px 16px;
		float:left;
	}
	.media-frame-buttons {
		margin:15px 16px;
		float:right;
		button {
			margin-left:16px;
		}
	}
	.media-frame-content {
		canvas {
			display: block;
			max-width: 100%;
			max-height: 100%;
			margin: auto;
		}
	}
	.media-frame-pagenav {
		position: absolute;
		bottom: 55px;
		left:0;
		right:0;
		left: 0;
		top: 51px;
		width: 200px;
		bottom: 62px;
		border-right: 1px solid $wp-gray-dark2;
		background: $wp-gray-lighter;
		overflow: auto;
	}
	.pdf-page-item {
		position: relative;
		border-bottom: 1px solid $wp-gray-dark2;
		display:flex;
		background-color:$wp-gray;

		[type="checkbox"],[type="radio"] {
			display:none;
		}
		[type="checkbox"]:checked ~ * {
			background-color:$wp-blue;
			color:#fff;
			.dashicons {
				border-color:#fff;
				&:before {
					content:$dashicon-yes;
				}
			}
		}
		[type="radio"]:checked {

			& ~ :last-child {
				font-weight:700;
				&::after {
					//*
					position: absolute;
					content:$dashicon-arrow-right-alt2;
					font-family:dashicons;
					right:0;
					top:0;
					line-height:40px;
					font-size:32px;
					/*/
					content:'';
					position: absolute;
					left: 100%;
					top: 0;
					height: 100%;
					border-width: 21px;
					border-color: transparent transparent transparent $wp-gray;
					border-style: solid;
					height: 100%;
					box-sizing: border-box;
					//*/
				}
			}
		}
		[type="checkbox"]:checked ~ :last-child::after {
			border-left-color:$wp-blue;
		}
		& > * {
			display: inline-block;
			flex:1;
			padding:10px;
			color:$wp-gray-disabled;
		}
		label {
			&:first-of-type {
				flex:0;
			}
		}
		.dashicons {
			line-height:1;
			width:1em;
			height:1em;
			display:inline-block;
			border:1px solid $wp-gray-disabled;
		}

	}
	.button-group {
		display: flex;
		& > button {
			&:first-of-type {
				margin-left:auto;
			}
			&:last-of-type {
				margin-right:auto;
			}
			&.dashicons {
				border-right-style:none;
				padding: 0 12px 2px 3px !important;
				&:before {
					border:1px solid $wp-gray-dark;
					content:$dashicon-no;
				}
				&.button-primary {
					&:before {
						border:1px solid #fff;
						content:$dashicon-yes;
					}
				}
				& + button {
					border-left-style:none;
				}
			}
			&.button-primary {
				// position: relative;
				// &:after {
				// 	content:$dashicon-yes;
				// 	font-family: dashicons;
				// 	position:absolute;
				// 	right:1px;
				// 	top:1px;
				// 	color:#fff;
				// 	line-height:1;
				// 	font-size:16px;
				// }
			}
		}
	}
}
